.App {
  text-align: center;
  margin: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(48deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(48, 200, 161, 1) 0%,
      rgba(0, 212, 255, 1) 100%);
}

form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f0f8ff;
  border-radius: 15px;
  width: 60%;
  background-color: white;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
}

input {
  display: block;
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #787676;
  font-family: inherit;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: palevioletred;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: inherit;
}

table {
  margin: 0 auto;
  width: 60%;
  color: white;
  border-collapse: collapse;
}


tr,
th,
td {
  border: 1px solid #fff;
  padding: 5px 10px;
  width: max-content;
  min-width: 150px;
  text-align: center;
}